@tailwind base;
@tailwind components;
@tailwind utilities;

.preserve{
    height: 5rem;
    width: auto;
}

.fit{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
}

.stretch{
    height: 5rem;
    width: 5rem;
    object-fit: fill;
}